<div id = "set-avatar-box" class="blocks cream">
  <button id="set-avatar-button-close" type="button" class="close-button transparent">X</button><br>
  <p>
    USER PROFILE
  </p>

<%= form_tag users_update_path, method: :post, id: "user-form", authenticity_token: true, multipart: true do %>

  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :email, @user.email %>
  </div>
  <div class="field">
    <%= label_tag :video_url %><br>
    <%= text_field_tag :video_url, @user.video_url %>
  </div>
  <div class="field">
    <%= label_tag :avatar %>
    <%= file_field_tag :avatar %>
  </div>
  <div class="form-actions">
    <%= submit_tag "Update" %>
    <button type="button" id="update-cancel-button">CANCEL</button>
  </div>
<% end %>

</div>
