<div id="block-1" class="josefin-font blocks cream">
    <div class="section-top">
      <button type="button" class="close-button transparent">X</button>
      <br>
      <% if current_user %>
        <%= image_tag @user.avatar.url, class: "circular center" %>
      <% else %>
        <%= image_tag "bill-clinton.jpeg", class: "circular center" %>
      <% end %>

      <p class = "block-title">MAXIMUS</p>
      <p>LEGIO HISPANIA</p>
      <% if current_user %>
        <%= button_to "LOG OUT", logout_path, id: "logout-button", method: :get %>
        <button id="profile-button">PROFILE</button>
        <div id="log-in-status">
            You are logged in: <%= current_user.email %>
        </div>
      <% else %>
        <button id="login-button">LOG IN</button>
        <!-- <button id="profile-button">PROFILE</button> -->
      <% end %>

    </div>
    <!-- <input type="button" id="login-button" value="Go to Google" /> -->

    <%# button_tag "LOG IN", type: "button", id: "login-button" %>

    <div class="section-footer light-gray">
      <div>
        <p>LXIII</p>
        <p>ENEMIES</p>
      </div>
      <div>
        <p>VII</p>
        <p>CONQUERED</p>
      </div>
      <div>
        <p>III</p>
        <p>RANK</p>
      </div>
    </div>

</div>
<div id="image-block" class="image blocks">
  <button type="button" class="close-button transparent">X</button>
    <% if current_user %>
      <iframe width="338" height="248"
        src="<%= current_user.video_url %>">
      </iframe>
    <% else %>
      <%= image_tag "gladiator.jpeg" %>
    <% end %>
</div>
<div id="big-text-block" class="big-text blocks brown">
  <p class = "josefin-font big-text">
    ACDEFHGIJMNLTRSUVQXWYOP
  </p>
  <img src="https://placehold.it/50x50" class="center" alt="#" />
</div>


<div id="legio-hispania" class="blocks cream">
  <button type="button" class="close-button transparent">X</button><br><br>
  <img src="https://placehold.it/50x50" class="center" alt="#" />
  <p class="block-title">
    LEGIO HISPANIA
  </p>
  <p>
    <span><img src="https://placehold.it/80x15" alt="#" /></span> XV <span><img src="https://placehold.it/80x15" alt="#" /></span>
  </p>
  <br>
  <div class="legios orange">
    <p>COHORTS<span>XII</span></p>
  </div>
  <div class="legios light-brown">
    <p>LEGIONAIRES<span>MMDL</span></p>
  </div>
  <div class="legios brown">
    <p>EQUITES<span>LXIII</span></p>
  </div><br><br>
  <div class="rings">
    <span>XII</span><span>XV</span><span>III</span>
  </div>
</div>
<div id="map-with-charts" class="blocks cream">
  <button type="button" class="close-button transparent">X</button>
  <!-- <img src="https://placehold.it/340x240" alt="#" /> -->
  <%= image_tag "brown-map.jpeg" %>
  <div class="secondary-section">
    <div class="warfare-blocks">
      <p>WARFARE STATS<span><img src="https://placehold.it/140x35" alt="#" /></span></p>
    </div>
    <div class="warfare-blocks">
      <p>SLAVES CONQUERED<span><img src="https://placehold.it/140x35" alt="#" /></span></p>
    </div>
    <div class="warfare-blocks">
      <p>WARFARE FORMATION<span><img src="https://placehold.it/140x35" alt="#" /></span></p>
    </div>
  </div>
</div>

<div id="surrender" class="blocks cream">
  <button type="button" class="close-button transparent">X</button><br>
  <img src="https://placehold.it/50x50" class="center" alt="#" />
  <p class="block-title">
    SURRENDER
  </p>
  <p>
    ANNIHILATED <span>BY</span> LEGIO HISPANIA
  </p>
  <img class = "circular center" src="https://placehold.it/50x50" alt="#" />
</div>

<%= render 'login_form' %>
<%= render 'set_avatar_form' %>
